[submodule "Enterprise-Grade-RAG-System-Backend"]
	path = Enterprise-Grade-RAG-System-Backend
	url = https://github.com/ekram-kedir/Enterprise-Grade-RAG-System-Backend.git
[submodule "Enterprise-Grade-RAG-System-Frontend"]
	path = Enterprise-Grade-RAG-System-Frontend
	url = https://github.com/ekram-kedir/Enterprise-Grade-RAG-System-Frontend.git
